.new-request-panel {
    position: fixed;
    width: 49%;
    border: 1px solid white;
}

.left-margin {
    margin-left: 20px;
}

.date-width {
    width: 150px;
}

.button-container {
    margin-right: 15px;
    margin-top: 4px;
}

.request-part {
    text-align: center;
    color: #808080;
    margin-bottom: 20px;
    border: 1px dashed;
    line-height: 50px;
}

.request-label {
    min-width: 65%;
}

.drag-over {
    background-color: greenyellow;
}

.drag-hint {
    border: 2px solid green;
}

.top-margin {
    margin-top: 10px;
}

.field-margins {
    margin-left: 20px;
    margin-top: 10px;
}

.column-quantity-width {
    min-width: 46px;
}

.column-price-width {
    min-width: 40px;
}

.column-label-width {
    min-width: 50%;
}

.column-material-width {
    min-width: 50px;
}