<div class="new-request-panel" style="position: fixed;">
    <form #newRequestForm="ngForm" class="dsf-form" autocomplete="off">
        <div class="column" style="position: relative;">
            <div class="row" style="background-color: black;">
                <div class="panel-title header-title">
                    <span>/NUEVO PEDIDO/DEFINICION</span>
                </div>
                <div class="button-container">
                    <button cy-name="save" class="button ok-button" [disabled]="!isFormValid(newRequestForm.form.valid)" (click)="saveRequest()">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        &nbsp;&nbsp;Guardar
                    </button>
                    <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                    <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                    <div *ngIf="isFormValid(newRequestForm.form.valid)">
                        <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                        <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0" />
                        </svg>
                    </div>
                </div>
                <div class="button-container">
                    <button cy-name="cancel" class="button cancel-button" style="width: 150px;" (click)="cancelRequest()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        &nbsp;&nbsp;Cancelar
                    </button>
                    <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                    <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                    <svg class="button-right-mark orange-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                    <svg class="button-left-mark orange-mark" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" />
                    </svg>
                </div>
            </div>
            <div class="row">
                <div cy-name="requestDate" class="field left-margin">
                    <span cy-field-label="requestDate" class="label">FECHA PEDIDO</span><br>
                    <span cy-field-value="requestDate" class="field-height request-requestDate">{{ getRequestDate() | date : 'mediumDate' }}</span>
                </div>
                <div cy-name="quantity" class="field left left-margin">
                    <span cy-field-label="quantity" class="label">NRO. PIEZAS</span><br>
                    <span cy-field-value="quantity" class="field-height request-requestDate">{{getContentCount()}}</span>
                </div>
                <div cy-name="price" class="field left-margin">
                    <span cy-field-label="price" class="label">PRECIO</span><br>
                    <span cy-field-value="price" class="field-height request-requestDate">{{getRequestAmount()}}</span>
                </div>
            </div>
            <div cy-name="label" class="field field-margins">
                <span cy-field-label="label" cy-input-type="input" class="label">ETIQUETA</span><br>
                <div class="dsf-input-container label-width">
                    <input name="label" type="text" class="dsf-input" required [(ngModel)]="request.label" minlength="3" maxlength="50" #label="ngModel">
                    <svg class="corner-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="corner-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !label.invalid}">
                        <svg class="corner-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="requestContents" class="field left-margin top-margin">
                <div cy-name="dropContents" class="request-part" droppable [dropScope]=" 'REQUEST-CONTENT'" [dragOverClass]=" 'drag-over'" [dragHintClass]=" 'drag-hint'" (onDrop)="onDrop($event)"><span> --- PIEZAS --- </span>
                </div>
                <span cy-field-label="requestContents" class="label">CONTENIDO PEDIDO</span><br>
                <div class="row">
                    <div class="field column-quantity-width">
                        <span class="label">CANTIDAD</span><br>
                    </div>
                    <div class="field column-price-width">
                        <span class="label">PRECIO</span><br>
                    </div>
                    <div class="field column-label-width">
                        <span class="label">ETIQUETA</span><br>
                    </div>
                    <div class="field column-material-width">
                        <span class="label">TERMINACION</span><br>
                    </div>
                </div>
                <div *ngFor="let item of getRequestContents()" style="position: relative;">
                    <v1-request-item [node]="item" [variant]="'-NEW-REQUEST-'" [container]="self"></v1-request-item>
                </div>
            </div>
        </div>
        <div>
            <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
            <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
            <svg class="corner-mark" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="orangered" />
        </svg>
        </div>
    </form>
</div>