    @import "../../../../styles/_scss_variables.scss";
    $feature-color:white;
    $feature-background-color:black;
    $feature-width: 180px;
    .feature {
        position: relative;
        white-space: nowrap;
        padding-top: 9px;
        padding-bottom: 9px;
        background-color: $feature-background-color;
        width: $feature-width;
        border: 1px solid $feature-color;
        cursor: pointer;
        margin-right: 4px;
        margin-top: 4px;
    }
    
    .feature:hover {
        background-color: #172E47;
    }
    
    .feature-label {
        font-family: $app-font-family, sans-serif;
        font-size: 1.1rem;
        line-height: 1.1rem;
        color: $app-font-color;
        text-transform: uppercase;
        text-shadow: 0px 0px 2px $app-font-color, 0px 0px 2px $app-font-color;
        padding-left: 8px;
    }
    
    .active {
        background-color: #193319;
    }
    
    .disabled {
        background-color: #632E0B;
    }
    
    .corner-border {
        position: absolute;
        bottom: -10px;
        right: 0px;
        width: 16px;
    }
    
    .corner-clear {
        position: absolute;
        bottom: -10px;
        right: -1px;
        width: 15px;
    }
    
    .corner-mark {
        position: absolute;
        bottom: -9px;
        right: -1px;
        width: 10px;
    }
    
    .corner-aligment {
        position: relative;
        align-self: inherit;
        margin-left: auto;
    }
    
    .corner-top {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 12px;
    }
    
    .menu {
        visibility: hidden;
    }
    
    .menu-active {
        position: absolute;
        top: -1px;
        left: -1px;
        visibility: visible;
        opacity: 1.0;
        z-index: 100;
    }
    
    .menu-feature {
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 4px;
        background-color: #24264e;
        width: 240px;
    }
    
    .menu-feature:hover {
        background-color: #252863;
    }