.button-margins {
    margin-right: 20px;
    margin-bottom: 4px;
}

.machine-image {
    width: 100px;
    height: 100px;
    background-color: #343149;
    border: 1px solid grey;
    margin-top: 4px;
}

.machine-label {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: blueviolet;
    text-shadow: 0px 0px 2px blueviolet, 0px 0px 1px blueviolet;
}

.job-drop-area {
    text-align: center;
    color: #808080;
    margin-bottom: 20px;
    border: 1px dashed;
    line-height: 50px;
}

.drag-over {
    background-color: greenyellow;
}

.drag-hint {
    border: 2px solid green;
}

.set-job {
    background-color: rosybrown;
    margin: 2px;
}

.machine-part-width {
    margin-bottom: 10px;
}

.corner-border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 15px;
}

.corner-clear {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 15px;
}

.corner-mark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 9px;
}

.start-width {
    margin: auto;
    width: 170px;
}

//  B U T T O N S 
$button-border-color: grey;
$green-button-color: #66FF66;
$submit-button-color: #66FF66;
$repeat-button-color: #47B347;
$cancel-button-color: #FF7733;
$clearform-button-color: #FF7733;
// .button {
//     margin: auto;
//     width: 170px;
// }
// .start-button {
//     height: 60px;
//     flex-grow: 1;
//     margin-left: 32px;
//     margin-right: 16px;
//     background-color: #180A16;
//     border: 3px solid green;
//     border-radius: 8px;
//     font-family: 'Electrolize', sans-serif;
//     font-size: 20px;
//     color: white;
//     font-weight: bold;
//     text-transform: uppercase;
// }
// .start-button:disabled {
//     border: 3px solid #D0D0D0;
//     color: #D0D0D0;
// }
// .start-button:hover {
//     background-color: $green-button-color;
//     color: white;
// }
// .start-button:hover:disabled {
//     background: #D0D0D0;
//     color: white;
// }
// .clear-button {
//     height: 60px;
//     flex-grow: 1;
//     margin-left: 32px;
//     margin-right: 16px;
//     background-color: #180A16;
//     border: 3px solid $clearform-button-color;
//     border-radius: 8px;
//     font-family: 'Electrolize', sans-serif;
//     font-size: 20px;
//     font-weight: bold;
//     text-transform: uppercase;
//     // background: transparent;
//     color: $clearform-button-color;
// }
.clear-button:disabled {
    border: 3px solid #D0D0D0;
    color: #D0D0D0;
}

.clear-button:hover {
    background: $clearform-button-color;
    color: white;
}

.clear-button:hover:disabled {
    background: #D0D0D0;
    color: white;
}

.completed-request {
    fill: green;
}