<!-- M A C H I N E S   D O   N O T   H A V E   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" style="margin-bottom: 4px;">
    <div class="row">
        <div>
            <img class="machine-image" src="/assets/media/Creality3DEnder3Pro.png" alt="Imagen de una impresora">
        </div>
        <div class="column" style="margin-left: 4px; width: 78%;">
            <div cy-name="label" class="cy-field-value">
                <div cy-field-label="label" class="label">ETIQUETA</div>
                <div cy-field-value="label" cy-name="machine-label" class="field-height machine-label">{{getLabel()}}</div>
            </div>
            <div cy-name="buildingPart" class="field machine-part-width">
                <div cy-field-label="buildingPart" class="label">PIEZA EN PRODUCCION</div>
                <div *ngIf="!target; else runningJob">
                    <div cy-name="dropJobs" class="job-drop-area" droppable [dropScope]="'JOB'" [dragOverClass]="'drag-over'" [dragHintClass]="'drag-hint'" (onDrop)="onDrop($event)">
                        <div> --- TRABAJO A REALIZAR --- </div>
                    </div>
                </div>
                <ng-template #runningJob class="set-job">
                    <v1-pending-job [node]="target" [machine]="self" [variant]="'-BUILDING-JOB-'"></v1-pending-job>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="row">
        <v1-build-countdown-timer [parent]="self" id="{{getUniqueId()}}"></v1-build-countdown-timer>
        <div class="row right" *ngIf="target">
            <div cy-name="start-button" class="button-margins" *ngIf="state=='IDLE'">
                <div style="position: relative;">
                    <button class="button ok-button" (click)="startBuild()">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        &nbsp;&nbsp;Comenzar
                    </button>
                    <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                    <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                    <div>
                        <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100"  />
                        </svg>
                        <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="complete-button" class="button-margins" *ngIf="state=='COMPLETED'">
                <div style="position: relative;">
                    <button class="button ok-button" (click)="completeBuild()">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        &nbsp;&nbsp;Completar
                    </button>
                    <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                    <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                    <div>
                        <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                        <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="clear-button" class="button-margins" *ngIf="state=='IDLE'">
                <div style="position: relative;">
                    <button class="button cancel-button" (click)="onClear()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        &nbsp;&nbsp;Clear
                    </button>
                    <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                    <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                    <div>
                        <svg class="button-right-mark ko-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                        <svg class="button-left-mark ko-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0" />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="cancel-button" class="button-margins" *ngIf="state=='RUNNING' || state=='COMPLETED'">
                <div style="position: relative;">
                    <button class="button clear-button" (click)="onClear()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        &nbsp;&nbsp;Cancelar
                    </button>
                    <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                    <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                    <div>
                        <svg class="button-right-mark ko-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100"  />
                        </svg>
                        <svg class="button-left-mark ko-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg cy-field-mark="REQUEST" class="corner-mark" [ngClass]="{'completed-request':isCompleted()}" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>