<!-- R E Q U E S T   P A R T - L I S T   V A R I A N T -->
<div id="{{getUniqueId()}}" *ngIf="getVariant() === '-REQUEST-PART-LIST-'" draggable [dragData]="node" [dragScope]="'PART'" [dragClass]="'part-selected'">
    <div class="row part-panel">
        <div class="field label-width">
            <div cy-field-label="ETIQUETA" class="label">ETIQUETA</div>
            <div cy-field-value="ETIQUETA" class="field-height part-material">{{getLabel()}}</div>
        </div>
        <div class="field material-width">
            <div cy-field-label="MATERIAL" class="label">MATERIAL</div>
            <div cy-field-value="MATERIAL" class="field-height part-material">{{getMaterial()}}</div>
        </div>
        <div class="field color-width">
            <span cy-field-label="COLOR" class="label">COLOR</span><br>
            <span cy-field-value="COLOR" class="field-height part-color">{{getColor()}}</span>
        </div>
        <div class="field-no-margin stock-width">
            <span cy-field-label="DISPONIBLE" class="label">DISPONIBLE</span><br>
            <span cy-field-value="DISPONIBLE" class="field-height part-stockAvailable">{{getStockAvailable()}}</span>
        </div>
    </div>
    <div>
        <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
        <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
        <svg class="corner-mark" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="greenyellow" />
        </svg>
    </div>
</div>
<!-- N E W   M O D E L   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-NEW-MODEL-'" draggable [dragData]="node" [dragScope]="'PART'" [dragClass]="'part-selected'">
    <div class="row">
        <div class="field label-width">
            <div cy-field-label="ETIQUETA" class="label">ETIQUETA</div>
            <div cy-field-value="ETIQUETA" class="field-height part-material">{{getLabel()}}</div>
        </div>
        <div class="field left material-width">
            <div cy-field-label="MATERIAL" class="label">MATERIAL/COLOR</div>
            <div cy-field-value="MATERIAL" class="field-height part-material">{{getMaterial()}}/{{getColor()}}</div>
        </div>
        <div class="field stock-width">
            <div cy-field-label="DISPONIBLE" class="label">DISPONIBLE</div>
            <div cy-field-value="DISPONIBLE" class="field-height part-stockAvailable">{{getStockAvailable()}}</div>
        </div>
        <div cy-name="active" class="field invisible">
            <div cy-field-label="active" class="label">ACTIVE</div>
            <div cy-field-value="active" class="field-height part-stockAvailable">{{getActive()}}</div>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="greenyellow" />
    </svg>
</div>
<!-- R E Q U E S T A B L E   I T E M S   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-SELLABLE-ITEMS-'" draggable [dragData]="node" [dragScope]="'REQUEST-CONTENT'" [dragClass]="'part-selected'">
    <div class="row">
        <div cy-name="label" class="field label-width">
            <div cy-field-label="label" class="label">ETIQUETA</div>
            <div cy-field-value="label" class="field-height part-material">{{getLabel()}}</div>
        </div>
        <div class="row right">
            <div cy-name="material" class="field left requestable-material-width">
                <div cy-field-label="material" class="label">MATERIAL/COLOR</div>
                <div cy-field-value="material" class="field-height part-material">{{getMaterial()}}/{{getColor()}}</div>
            </div>
            <div cy-name="partCount" class="field stock-width">
                <div cy-field-label="partCount" class="label">DISPONIBLE</div>
                <div cy-field-value="partCount" class="field-height part-stockAvailable">{{getStockAvailable()}}</div>
            </div>
            <div class="field price-width">
                <div cy-field-label="price" class="label">PRECIO</div>
                <div cy-field-value="price" class="field-height part-stockAvailable">{{getPrice()}}</div>
            </div>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark greenyellow-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>
<!-- C A T A L O G -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-CATALOG-'" draggable [dragData]="node" [dragScope]="'PART'" [dragClass]="'part-selected'">
    <div class="row" [ngClass]="{'disabled-node': !isActive()}">
        <div cy-name="edit-button" class="edit-attributes" (click)="toggleEdition()">
            <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36px" height="36px">
                <title>Editar valores pieza</title>
                <path d="M0 0h24v24H0V0z" fill="none"/><path d="M17.63 7H6.37C3.96 7 2 9.24 2 12s1.96 5 4.37 5h11.26c2.41 0 4.37-2.24 4.37-5s-1.96-5-4.37-5zm0 8H6.37C5.09 15 4 13.63 4 12s1.09-3 2.37-3h11.26C18.91 9 20 10.37 20 12s-1.09 3-2.37 3zM7.24 13.06l-1.87-1.87-.7.7 2.57 2.57 4.22-4.22-.7-.7z"/>
            </svg>
        </div>
        <div cy-name="save-disabled" disabled class="save-attributes button-disabled">
            <svg class="save-icon-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36px" height="36px">
                <title>Salvar cambios</title>
                <path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z"/></svg>
        </div>
        <div cy-name="material" class="field material-width">
            <div cy-field-label="material" class="label">MATERIAL/COLOR</div>
            <div cy-field-value="material" class="field-height part-material">{{getMaterial()}}/{{getColor()}}</div>
        </div>
        <div cy-name="stock" class="field stock-width">
            <div cy-field-label="stock" class="label">STOCK</div>
            <div cy-field-value="stock" class="field-height part-stock">{{getStockRequired()}}</div>
        </div>
        <div cy-name="stockAvailable" class="field stock-width">
            <div cy-field-label="stockAvailable" class="label">DISPONIBLE</div>
            <div cy-field-value="stockAvailable" class="field-height part-stockAvailable">{{getStockAvailable()}}</div>
        </div>
        <div cy-name="cost" class="field stock-width">
            <div cy-field-label="cost" class="label">COSTE</div>
            <div cy-field-value="cost" class="field-height part-cost">{{getCost()}}</div>
        </div>
        <div cy-name="price" class="field stock-width">
            <div cy-field-label="price" class="label">PRECIO</div>
            <div cy-field-value="price" class="field-height part-price">{{getPrice()}}</div>
        </div>
        <div cy-name="active" class="field active-width">
            <div cy-field-label="active" class="label">ESTADO</div>
            <div cy-field-value="active" class="field-height part-active">{{getActive()}}</div>
        </div>
        <div cy-name="duplicate-button" class="field duplicate-width" (click)="duplicatePart()">
            <svg class="duplicate-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                <title>Duplicar pieza</title>
                <path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
            </svg>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100"> -->
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg *ngIf="isActive()" class="corner-mark greenyellow-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
    <svg *ngIf="!isActive()" class="corner-mark orangered-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>
<!-- E D I T A B L E   P A R T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-EDITABLE-PART-'">
    <form #editPartForm="ngForm" class="dsf-form" autocomplete="off">
        <div class="row">
            <button cy-name="edit-button" class="edit-attributes button-enabled" (click)="toggleEdition()">
                <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36px" height="36px">
                    <title>Editar valores pieza</title>
                    <path d="M0 0h24v24H0V0z" fill="none"/><path d="M17.63 7H6.37C3.96 7 2 9.24 2 12s1.96 5 4.37 5h11.26c2.41 0 4.37-2.24 4.37-5s-1.96-5-4.37-5zm0 8H6.37C5.09 15 4 13.63 4 12s1.09-3 2.37-3h11.26C18.91 9 20 10.37 20 12s-1.09 3-2.37 3zM7.24 13.06l-1.87-1.87-.7.7 2.57 2.57 4.22-4.22-.7-.7z"/>
                </svg>
            </button>
            <button cy-name="save-button" type="submit" class="save-attributes" (click)="saveEditing()" [ngClass]="{'button-disabled':!editPartForm.form.valid,'button-enabled':editPartForm.form.valid}" [disabled]="!editPartForm.form.valid">
                <svg class="save-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36px" height="36px">
                    <title>Salvar cambios</title>
                    <path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z"/>
                </svg>
            </button>
            <div cy-name="material" class="field material-width">
                <div cy-field-label="material" class="label">MATERIAL/COLOR</div>
                <div cy-field-value="material" class="field-height part-material">{{getMaterial()}}/{{getColor()}}</div>
            </div>
            <div cy-name="stock" class="field">
                <div cy-field-label="stock" cy-input-type="input" class="label">STOCK</div>
                <div class="dsf-input-container numeric-input-width">
                    <input name="stock" type="number" class="dsf-input dsf-input-number" [(ngModel)]="editPart.stockLevel" required min="0" max="999" onInput="validity.valid||(value='');" #stock="ngModel">
                    <svg class="left-corner-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="left-corner-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !stock.invalid}">
                        <svg class="left-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="stockAvailable" class="field">
                <div cy-field-label="stockAvailable" cy-input-type="input" class="label">DISPONIBLE</div>
                <div class="dsf-input-container numeric-input-width">
                    <input name="stockAvailable" type="number" class="dsf-input dsf-input-number" [(ngModel)]="editPart.stockAvailable" required min="0" oninput="validity.valid||(value='');" #stockAvailable="ngModel">
                    <svg class="left-corner-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="left-corner-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !stockAvailable.invalid}">
                        <svg class="left-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="cost" class="field">
                <div cy-field-label="cost" cy-input-type="input" class="label">COSTE</div>
                <div class="dsf-input-container numeric-input-width">
                    <input name="cost" type="number" class="dsf-input dsf-input-number" [(ngModel)]="editPart.cost" required min="0.01" #cost="ngModel">
                    <svg class="left-corner-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="left-corner-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !cost.invalid}">
                        <svg class="left-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="price" class="field">
                <div cy-field-label="price" cy-input-type="input" class="label">PRECIO</div>
                <div class="dsf-input-container numeric-input-width">
                    <input name="price" type="number" class="dsf-input dsf-input-number" [(ngModel)]="editPart.price" required min="0.01" #price="ngModel">
                    <svg class="left-corner-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="left-corner-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !price.invalid}">
                        <svg class="left-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="active" class="field">
                <div cy-field-label="active" cy-input-type="checkbox" class="label">ACTIVA</div>
                <div class="dsf-input-container numeric-input-width">
                    <input name="active" type="checkbox" class="dsf-input checkbox-input" [(ngModel)]="editPart.active" #active="ngModel">
                </div>
            </div>
        </div>
    </form>
</div>