.field {
    font-size: 14px;
}

.column-missing-width {
    min-width: 40px;
}

.column-quantity-width {
    min-width: 46px;
}

.column-price-width {
    min-width: 40px;
}

.column-label-width {
    min-width: 50%;
}

.column-material-width {
    min-width: 50px;
}

.remove-width {
    height: 25px;
}

.remove-icon {
    height: 25px;
    // margin-top: -10px;
}

.remove-icon:hover {
    fill: orange;
}

.has-missing {
    color: orangered;
}