<!-- O P E N   R E Q U E S T S -->
<div #requestInstance *ngIf="getVariant() === '-OPEN-REQUESTS-'">
    <div id="{{getUniqueId()}}" class="row cornered-clickable-panel" (click)="selectRequest()" [ngClass]="{'selected': isSelected()}">
        <div cy-name="requestDate" class="field date-width">
            <div cy-field-label="requestDate" class="label">FECHA</div>
            <div cy-field-value="requestDate" cy-name="request-date" class="field-height request-date">{{getRequestDate() | date}}</div>
        </div>
        <div cy-name="label" class="field label-width">
            <div cy-field-label="label" class="label">ETIQUETA</div>
            <div cy-field-value="label" cy-name="label" class="field-height request-label">{{getLabel()}}</div>
        </div>
        <div cy-name="partCount" class="field right part-count-width">
            <div cy-field-label="partCount" class="label">NRO. PIEZAS</div>
            <div cy-field-value="partCount" cy-name="part-count" class="field-height request-part-count">{{getContentCount()}}</div>
        </div>
        <div cy-name="amount" class="field right amount-width">
            <div cy-field-label="amount" class="label">IMPORTE</div>
            <div cy-field-value="amount" cy-name="amount" class="field-height request-amount">{{getAmount()}}</div>
        </div>
        <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="blueviolet" />
        </svg>
        <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
        <svg cy-field-mark="REQUEST" class="corner-mark completed-request" viewBox="0 0 100 100" [ngClass]="{'open-request': !isCompleted()}">
            <path d="M100,100 L0,100 L100,0 L100,100" />
        </svg>
    </div>
</div>
<!-- D E T A I L E D   R E Q U E S T -->
<div #requestInstance *ngIf="getVariant() === '-DETAILED-REQUEST-'">
    <div id="{{getUniqueId()}}" class="column cornered-panel">
        <div cy-name="complete-button" class="float-top-right" *ngIf="isCompleted()">
            <div style="position: relative;">
                <button class="button ok-button" (click)="completeRequest()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    &nbsp;&nbsp;Completar
                </button>
                <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                <div>
                    <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                    <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                </div>
            </div>
        </div>
        <div cy-name="delete-button" class="below-top-right">
            <div style="position: relative;">
                <button class="button cancel-button" (click)="deleteRequest()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp;&nbsp;Borrar
                </button>
                <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                <div>
                    <svg class="button-right-mark ko-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                    <svg class="button-left-mark ko-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                </div>
            </div>
        </div>
        <div cy-name="requestDate" class="field date-width">
            <span cy-field-label="requestDate" class="label">FECHA</span><br>
            <span cy-field-value="requestDate" cy-name="request-date" class="field-height request-date">{{getRequestDate() | date}}</span>
        </div>
        <div cy-name="label" class="field label-width">
            <span cy-field-label="label" class="label">ETIQUETA</span><br>
            <span cy-field-value="label" cy-name="label" class="field-height request-label">{{getLabel()}}</span>
        </div>
        <div cy-name="partCount" class="field part-count-width">
            <span cy-field-label="partCount" class="label">NRO. PIEZAS</span><br>
            <span cy-field-value="partCount" cy-name="part-count" class="field-height request-part-count">{{getContentCount()}}</span>
        </div>
        <div cy-name="amount" class="field amount-width">
            <span cy-field-label="amount" class="label">IMPORTE</span><br>
            <span cy-field-value="amount" cy-name="amount" class="field-height request-amount">{{getAmount()}}</span>
        </div>
        <div cy-name="contents" class="field ">
            <span cy-field-label="contents" class="label">PIEZAS SOLICITADAS</span>
            <div class="row">
                <div class="field column-missing-width">
                    <span class="label">FALTAN</span><br>
                </div>
                <div class="field column-quantity-width">
                    <span class="label">PEDIDAS</span><br>
                </div>
                <div class="field column-label-width">
                    <span class="label">ETIQUETA</span><br>
                </div>
                <div class="field column-material-width">
                    <span class="label">MATERIAL/COLOR</span><br>
                </div>
            </div>
            <div *ngFor="let content of getContents()">
                <v1-request-item [container]="self" [node]="content" [variant]="'-DETAIL4REQUEST-'"></v1-request-item>
            </div>
        </div>
        <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
        <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
        <svg cy-field-mark="REQUEST" class="corner-mark completed-request" viewBox="0 0 100 100" [ngClass]="{'open-request': !isCompleted()}">
            <path d="M100,100 L0,100 L100,0 L100,100" />
        </svg>
    </div>
</div>