.selected {
    background-color: #5A2652;
}

.completed-request {
    fill: green;
}

.open-request {
    fill: red;
}

.label-width {
    min-width: 50%;
}

.part-count-width {
    min-width: 48px;
}

.date-width {
    min-width: 90px;
}

.amount-width {
    margin-right: 10px;
}

.float-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.below-top-right {
    position: absolute;
    top: 80px;
    right: 20px;
}

.label-column-width {
    min-width: 50%;
}

.column-missing-width {
    min-width: 40px;
}

.column-quantity-width {
    min-width: 46px;
}

.column-label-width {
    min-width: 50%;
}

.column-material-width {
    min-width: 50px;
}

.column-color-width {
    min-width: 150px;
}