<div cy-name="panel-title" class="panel-title">
    <span>/PEDIDOS/DETALLE</span>
</div>
<hr>
<div *ngIf="selectedRequest">
    <v1-request style="width: 100%;" *ngIf="selectedRequest" [container]="container" [node]="selectedRequest" [variant]="'-DETAILED-REQUEST-'"></v1-request>
</div>