@import "./_scss_variables.scss";
// - B U T T O N S
.button {
    flex-grow: 1;
    border: 1px solid white;
    background-color: $app-botton-color;
    color: $app-font-color;
    font-weight: bold;
    font-size: 1.0rem;
    line-height: 1.0rem;
    text-transform: uppercase;
    position: relative;
    height: $button-height;
    width: $button-width;
    margin: auto;
}

.button-container {
    position: relative;
    height: $button-height;
    width: $button-width;
}

.button-label {
    position: relative;
    top: -5px;
}

.button-icon {
    width: 22px;
    margin: auto;
    margin-right: 10px;
}

.button-right-border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 16px;
}

.button-right-clear {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 14px;
}

.button-right-mark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
}

.button-left-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
}

.button-left-clear {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
}

.button-left-mark {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
}

.ok-button:hover {
    background-color: green;
}

.ok-button:disabled {
    background-color: #333533;
}

.ok-button:hover:disabled {
    background-color: #D0D0D0;
}

.ok-mark {
    fill: green;
}

.ko-mark {
    fill: red;
}

.off-mark {
    fill: orange;
}

.cancel-button:hover {
    background-color: red;
}

.cancel-button:hover:disabled {
    background-color: #D0D0D0;
}

.cancel-button:disabled {
    color: #D0D0D0;
}