// M A T E R I A L   D I A L O G S
mat-dialog-container#newpart-component {
    border: 2px solid #361731;
    background-color: #240F21;
    font-family: 'Mina', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    padding: 0px;
}

mat-dialog-container#newcoil-component {
    border: 2px solid #361731;
    background-color: #240F21;
    font-family: 'Mina', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    padding: 0px;
}

mat-dialog-container#patch-notes {
    border: 2px solid #361731;
    background-color: #240F21;
    font-family: 'Mina', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    padding: 0px;
}

mat-dialog-container#delete-request-confirmation-dialog {
    border: 2px solid #361731;
    background-color: #240F21;
    font-family: 'Electrolize', sans-serif;
    color: white;
    padding: 0px;
}