@import "./_scss_variables.scss";
.cornered-panel {
    font-family: $app-font-family, sans-serif;
    border: 1px solid white;
    position: relative;
    padding-left: 4px;
    padding-bottom: 2px;
}

.cornered-clickable-panel {
    font-family: $app-font-family, sans-serif;
    border: 1px solid darkviolet;
    position: relative;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
    cursor: pointer;
}

.editing {
    opacity: 1.0;
}

.field {
    // font-weight: bold;
    margin-right: 4px;
}

.field-no-margin {
    // font-weight: bold;
    // font-size: 16px;
    // color: white;
    margin-right: 0px;
}

.label {
    font-family: $app-font-family, sans-serif;
    font-size: 0.5rem;
    line-height: 0.8rem;
}

.corner-border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 16px;
}

.corner-clear {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 16px;
}

.corner-mark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
}

.left-corner-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
}

.left-corner-clear {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 15px;
}

.left-mark {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 11px;
}

.green-mark {
    fill: green;
}

.red-mark {
    fill: red;
}

.orangered-mark {
    fill: orangered;
}

.blue-mark {
    fill: blue;
}

.yellow-mark {
    fill: yellowgreen;
}

.blueviolet-mark {
    fill: blueviolet;
}

.greenyellow-mark {
    fill: greenyellow;
}

.edit-icon {
    height: 30px;
}

.edit-icon:hover {
    fill: greenyellow;
}

.arrow-expanded {
    transform: rotate(90deg);
}

// - EDIT BUTTON
.edit-attributes {
    width: 50px;
    all: initial;
}

// - SAVE ICON
.save-attributes {
    width: 50px;
    all: initial;
}

.save-icon {
    height: 30px;
}

// - BUTTONS
.button-enabled {
    fill: white;
}

.button-enabled:hover {
    fill: greenyellow;
}

.button-disabled {
    fill: #404040;
}

.button-disabled:hover {
    fill: #404040;
}