<div class="row">
    <div style="min-width: calc(100vw - 500px - 50px); margin-right: 10px;">
        <v1-pending-jobs-panel></v1-pending-jobs-panel>
    </div>
    <div style="min-width: 500px;">
        <v2-machines-panel></v2-machines-panel>
    </div>
</div>