<div class="menu-item" [ngClass]="{'menu-item-active': menu.isActive}" (click)="menuClick()">
  <span *ngIf="menu.hasIcon()"><img src="{{getMenuItemIcon()}}" class="location-role-image" /></span>
  <span>{{menu.title}}</span>
</div>
