<div class="row">
    <v1-open-requests-panel cy-name="open-request-list" style="width: 50%; margin-right: 10px;" [page]="self"></v1-open-requests-panel>
    <v1-request-detail-panel cy-name="request-details" style="width: 50%"></v1-request-detail-panel>
</div>