<div (mouseenter)="mouseEnter(node)" style="position: relative;">
    <div class="row node-panel body-box">
        <!-- <div>{{node.getJsonClass()}}</div> -->
        <!-- P A T C H   N O T E S -->
        <v1-patch-note style="width: 100%;" *ngIf="node.getJsonClass() == 'PatchChange'" [container]="container" [node]="node" [variant]="'-CHANGE-'">
        </v1-patch-note>
        <v1-patch-note style="width: 100%;" *ngIf="node.getJsonClass() == 'PatchNote'" [container]="container" [node]="node" [variant]="'-NOTE-'">
        </v1-patch-note>

        <!-- C A T A L O G -->
        <v1-coil style="width: 100%;" *ngIf="node.getJsonClass() == 'Coil'" [container]="container" [node]="node" [variant]="variant"></v1-coil>
        <v1-project style="width: 100%;" *ngIf="node.getJsonClass() == 'Project'" [container]="container" [node]="node" [variant]="variant"></v1-project>
        <v1-part-container style="width: 100%;" *ngIf="node.getJsonClass() == 'PartContainer'" [container]="container" [node]="node" [variant]="variant"></v1-part-container>
        <v1-part style="width: 100%;" *ngIf="node.getJsonClass() == 'Part'" [container]="container" [node]="node" [variant]="variant"></v1-part>
        <v1-model style="width: 100%;" *ngIf="node.getJsonClass() == 'Model'" [container]="container" [node]="node" [variant]="variant"></v1-model>

        <v1-request-item style="width: 100%;" *ngIf="node.getJsonClass() == 'RequestItem'" [container]="container" [node]="node" [variant]="variant"></v1-request-item>
        <v1-request style="width: 100%;" *ngIf="node.getJsonClass() == 'Request'" [container]="container" [node]="node" [variant]="variant"></v1-request>

        <v1-part-stack style="width: 100%;" *ngIf="node.getJsonClass() == 'PartStack'" [container]="container" [node]="node" [variant]="variant"></v1-part-stack>
        <v1-pending-job style="width: 100%;" *ngIf="node.getJsonClass() == 'Job'" [container]="container" [node]="node" [variant]="variant">
        </v1-pending-job>
        <!-- </div> -->
    </div>
</div>