//--- APPLICATION STYLE VARIABLES
@import "src/styles/_scss_variables.scss";

/** Style for the complete Menu Bar block. Defines the internal padding. */
.menu-bar {
  padding : 2px;
  // background-color: #101010;
}
/** Style to define the background color for the menu bar to differentiate if from the parent panel. */
.manu-bar-content{
  background-color: #404040;
}

.menu-collapsed {
  width: 27px;
  background-color:#303030;
}

.menu-expanded {
  border       : 1px solid white;
  width        : 130px;
  padding: 2px;
    background-color: #202020;
}
@keyframes OpenAnimation {
  0% {
    // padding-left: 800px;
    height: 0px;
    // opacity     : 0.0;
  }

  25% {
    // opacity: 0.5;
    // height: 25%;
  }

  50% {
    opacity: 0.5;
    height: 10px;
  }

  100% {
    // padding-left: 0;
    // height:auto !important;
    opacity: 1.0;
    height: 28px;
   }
}

.open-animation {
  animation: OpenAnimation 1s;
}
.menu-section{
  white-space: nowrap;
  width:5%;
  opacity: 0.8;
  padding-right: 8px;
}
.menu-section:hover{
  opacity: 1.0;
}
